<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/connect.css">
</head>

<body>
  <% include ../partials/sidebar %>
  <body>
<div class="image-container set-full-height" style="background-color: #fff">
<!--   Big container   -->
<div class="container">
  <div class="alert">
    <span>Succesfully Connected Instragm!</span>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <!-- Wizard container -->
      <div class="wizard-container">
        <div class="card wizard-card" data-color="red" id="wizard">
            <form action="/connectinstagram" method="get">
                <div class="wizard-header">
                  <h3 class="wizard-title">
                  Connect Bot
                  </h3>
                  <h5>Make sure your logged into the instrgam you want to connect.</h5>
                </div>
                <div class="wizard-navigation">
                <ul>
                  <li><a href="#connection" data-toggle="tab">Connection</a></li>
                  <li><a href="#filters" data-toggle="tab">Filters</a></li>
                  <li><a href="#comments" data-toggle="tab">Comments</a></li>
                  <li><a href="#replies" data-toggle="tab">Default Replies</a></li>
                  <li><a href="#activity" data-toggle="tab">Activity Settings</a></li>
                </ul>
                </div>

                <div class="tab-content">
                <div class="tab-pane" id="connection">
                <div class="row">
                  <div class="col-sm-12">
                    <img class="instalogo" src="img/instalogo.png" alt="">
                    <h4 class="info-text"> Add Instagram Account</h4>
                  </div>
                  <div class="col-sm-6">

                      <!-- // bot name field -->
                      <div class="input-group">
                      <span class="input-group-addon">
                      <i class="fas fa-robot"></i>
                      </span>
                      <div class="form-group label-floating">
                      <label class="control-label">Bot Name</label>
                      <input name="botName" type="text" class="form-control">
                      </div>
                      </div>

                      <!-- // delay field -->
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fas fa-clock"></i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">Respond Delay</label>
                          <input value="11" name="delay" type="number" class="form-control">
                        </div>
                      </div>

                  </div>
                  <div class="col-sm-6">
                    <!-- // insta username field -->
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fas fa-user-circle"></i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">Insta Username</label>
                        <input name="instaName" type="text" class="form-control">
                      </div>
                    </div>

                    <!-- // insta pass field -->
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">Insta Password</label>
                        <input name="instaPass" type="password" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="loadingDiv">
                    <img class="loadingGif" src="img/loading.gif" alt="loader"><span class="loaderTitle">Connecting your instagram...</span>
                  </div>

                  <div class="pull-right">
                    <button class="connectInstaBtn" id="getButton" onclick="getConnectInsta()">Connect</button>
                  </div>
                </div>
              </form>
          </div>

          <!-- // filters tab -->
          <div class="tab-pane" id="filters">
            <h4 class="info-text">Hashtag filters</h4>
            <div class="row">
                <form id="form-add-new-rank" class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <span class="input-label">Hashtags</span>
                      <textarea name="rank_description" id="" cols="30" rows="4" placeholder="Rank Description" class="form-control">
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group">
                  </div>
                </form>
            </div>
          </div>
          <!-- // comments tab -->
          <div class="tab-pane" id="comments">
            <h4 class="info-text">Add Comments</h4>
            <div class="chat">
              <div class="chat-title">
                <h1>User</h1>
              </div>
              <div class="messages">
                <div class="messages-content"></div>
              </div>
              <div class="message-box">
                <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                <button type="submit" class="message-submit">Send</button>
              </div>

            </div>
          </div>
          <!-- // default replies tab -->
          <div class="tab-pane" id="replies">
              <h4 class="info-text">Set default dialog</h4>
              <div class="chat">
                <div class="chat-title">
                  <h1>User</h1>
                </div>
                <div class="messages">
                  <div class="messages-content"></div>
                </div>
                <div class="message-box">
                  <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                  <button type="submit" class="message-submit">Send</button>
                </div>

              </div>
              <div class="bg"></div>

            </div>

            <!-- // activity settings tab -->
            <div class="tab-pane" id="activity">
                <h4 class="info-text">Set activity settings</h4>
                <form id="form-add-new-product" class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <span class="input-label">Max Comments Daily</span>
                        <input type="number" name="commentsDaily" required="required" class="form-control">
                      </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- // next / finish buttons -->
        <div class="wizard-footer">
          <div class="pull-right">
            <!-- <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next' /> -->
            <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
          </div>
          <div class="pull-left">
            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
          </div>
          <div class="clearfix">
          </div>
        </div>

      </div>
    </div> <!-- wizard container -->
  </div>
</div> <!-- row -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script  src="js/connect.js"></script>

</body>
